* {
	margin: 0;
	padding: 0;
}
.modal-hiden.modal.fade.detailsp {
    display: block !important;
    visibility: hidden;
    transition: 0.4s all;
}

.modal-hiden.modal.fade.detailsp.show {
    visibility: visible;
    transition: 0.4s all;
}
.img-slick-small .slick-track .slick-slide div {
    position: relative;
    width: 100%;
}
 .img-slick-small .slick-track .slick-slide.slick-current div:after {
    border-color: #ccc;
}
 div {}
 .img-slick-small .slick-track .slick-slide div:after {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    border: 2px solid transparent;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    content: '';
}
 .img-slick-small .slick-track {
    width: 100% !important;
    display: flex;
    flex-wrap: wrap;
}
 .img-slick-small .slick-track .slick-slide {
    width: 100% !important;
    margin-bottom: 30px;
    cursor: pointer;
}
.search-big input.iput-search {
    font-family: roboto;
    font-size: 50px;
    line-height: 1.2;
    color: #333;
    padding: 0px 30px 0px 0px;
    width: calc(100% - 70px);
    height: 100%;
    background-color: transparent;
    font-weight: 100;
}

.search-big input.iput-search::placeholder {
    color: #333;
}

.search-big button.close.search-big-close {right: 0px;position: absolute;top: -46px;font-size: 40px;outline: none;}

.search-big button.flex-c-m {
    font-size: 38px;
    color: #333;
    width: 70px;
    height: 100%;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
    cursor: pointer;
}

.search-big form.wrap-search-header {
    width: 960px;
    max-width: 100%;
    height: 120px;
    border: 2px solid #e6e6e6;
    background: #fff;
    flex-wrap: wrap;
    display: flex;
    padding-left: 15px;
    margin: auto;
    border-radius: 0;
}

.search-big-dialog {
    width: auto;
    max-width: 100%;
    position: relative;
    top: 30%;
    transform: translateY(-50%) !important;
}

.search-big.show {background-color: rgba(255,255,255,0.9);}

.detailsp .khoiicon-modal i.fas.fa-heart {
    font-size: 12px;
}

.detailsp a.khoiicon-modal {
    color: #666;
    position: relative;
    transition: all 0.4s;
    line-height: 1.0;
    padding: 2px 5px;
    font-size: 14px;
    margin-right: 8px;
}

.detailsp a.khoiicon-modal:after {
    content: attr(data-tooltip);
    font-family: Poppins-Regular;
    font-size: 12px;
    color: #888;
    line-height: 18px;
    white-space: nowrap;
    display: block;
    position: absolute;
    background: #fff;
    border: 1px solid #ccc;
    height: 20px;
    padding: 0px 8px;
    top: -35px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 3px 6px 0px rgba(0,0,0,0.18);
    transition: all 0.2s;
    opacity: 0;
}

.detailsp a.khoiicon-modal:hover:after {
    opacity: 1;
}

.detailsp .nd-iconheart {
    border-right: 1px solid #e6e6e6;
    align-items: center;
    display: flex;
    margin-right: 11px;
    padding-right: 10px;
}

.detailsp .khoi-iconlk {
    align-items: center;
    flex-wrap: wrap;
    display: flex;
    padding-left: 100px;
    padding-top: 40px;
}

.detailsp button.stext-101.size-101.btn-addcart-detail {
    transition: 0.4s all;
    border-radius: 23px;
    background-color: #717fe0;
    min-width: 161px;
    height: 46px;
    font-family: roboto;
    font-size: 15px;
    line-height: 1.466667;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    border: none;
}

button.stext-101.size-101.btn-addcart-detail:hover {
    background: #333;
}

.detailsp .khoinut-modal-nddetail {
    width: calc(100% - 105px);
    align-items: center;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.detailsp .khoiflex-modal-detail {
    padding-bottom: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
}
.detailsp input.mtext-104 {
    font-size: 16px;
    line-height: 1.6;
    font-family: 'Montserrat', sans-serif;
    color: #666;
    width: calc(100% - 90px);
    height: 100%;
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    background-color: #f7f7f7;
    text-align: center;
}
.detailsp .btn-num-product-down:hover, .btn-num-product-up:hover, .btn-apply-coupon:hover , .ndupdate-totals:hover {
    border-color: #717fe0;
    background-color: #717fe0;
    color: #fff;
    transition: 0.4s;
}
.detailsp .wrap-num-product {
    width: 140px;
    height: 45px;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    overflow: hidden;
    display: flex;
    margin: 10px 20px 10px 0;
    flex-wrap: wrap;
}
.detailsp .btn-num-product-down , .btn-num-product-up {
    width: 45px;
    height: 100%;
    cursor: pointer;
    color: #555;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s all;
}
.detailsp i.fas.fa-minus {
    font-size: 12px;
}
.detailsp i.fas.fa-plus {
    font-size: 12px;
}

.detailsp select.select-2tren {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    width: 95% !important;
    height: 45px;
    font-family: roboto;
    font-size: 14px;
    color: #555;
    line-height: 1.2;
    padding-left: 20px !important;
    background-color: transparent;
}

.bor8 {
    border: 1px solid #e6e6e6;
    border-radius: 2px;
}

.detailsp .bor8.khoi-chonnd-tren {
    background-color: #fff;
    display: flex;
    justify-content: center;
}

.size-204 {
    width: calc(100% - 105px);
}

.size-203 {
    width: 105px;
}

.detailsp .nddetial-tren .size-203 {
    align-items: center;
    display: flex;
    justify-content: center;
}

.detailsp .nddetial-tren {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 10px;
}

.detailsp .khoiphai-modal-nddetail {
    padding-top: 33px;
}

.stext-102 {
    font-size: 14px;
    line-height: 1.7;
    font-family: 'Montserrat', sans-serif;
}

.detailsp p.stext-102 {
    color: #666;
    padding-top: 23px;
    margin: 0;
}

.mtext-106 {
    font-family: roboto;
    font-size: 18px;
    line-height: 1.388888;
}

.detailsp span.mtext-106 {
    color: #333;
    font-weight: bold;
}

.mtext-105 {
    font-family: roboto;
    font-size: 24px;
    line-height: 1.5;
}

.detailsp h4.mtext-105 {
    color: #333;
    padding-bottom: 14px;
    font-weight: 400;
}

.detailsp .khoiphai-modal-detial {
    padding-right: 50px;
    padding-top: 5px;
}


.detailsp img.slick-active-img {
    opacity: 1 !important;
}

.detailsp .slick3-dot-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    border: 2px solid transparent;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.detailsp .khoitrai-modal-detailsp {
    padding-right: 30px;
    padding-left: 25px;
}

.detailsp ul.slick3-dots {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.detailsp ul.slick3-dots li {
    display: block;
    position: relative;
    width: 100%;
    margin-bottom: 27px;
}

.detailsp li.slick-active .slick3-dot-overlay {
    border-color: #ccc;
}

.detailsp ul.slick3-dots li img {
    width: 100%;
}

.detailsp button.close {
    position: absolute;
    right: 1px;
    font-size: 37px;
    top: -5px;
}

.detailsp .modal-content.detailsp-modal {
    padding-bottom: 30px;
    padding-top: 60px;
    margin-bottom: 20px;
}

.cart-header button.close {
    font-size: 32px;
    padding: 0.6rem;
}

.modal-body.modal-cart-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h5#exampleModalLabel {
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
    line-height: 1.333333;
    text-transform: uppercase;
    color: #333;
    font-weight: bold;
}

div#cart {
    height: 100%;
}

.modal-content.cart-content {
    padding: 10% 40px;
    height: 100vh;
}

.modal-header.cart-header {
    border: none;
}

.footer-cart-buttons.d-flex.justify-content-around {
    width: 100%;
}

.footer-cart-total {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #222;
    line-height: 1.3;
    padding-bottom: 40px;
    padding-top: 40px;
    width: 100%;
    font-weight: bold;
}

i.fas.fa-times {position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);color: white;z-index: 5;opacity: 0;}

span.body-cart-item-info {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #888;
    line-height: 1.5;
}

a.body-cart-item-name {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #555;
    line-height: 1.3;
    text-decoration: none;
    transition: 0.4s ease;
}



li.body-cart-item.d-flex {
    margin-bottom: 12px;
}

.body-cart-item-txt.d-flex.flex-column.justify-content-around {
    padding-top: 8px;
    width: calc(100% - 80px);
}

.body-cart-item-img {
    width: 60px;
    position: relative;
    margin-right: 20px;
    cursor: pointer;
}

.body-cart-item-img:after {
    content: '';
    background: #00000075;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.4s;
}

.body-cart-item-img:hover:after , .body-cart-item-img:hover .fas.fa-times {
    opacity: 1;
}

.password-email-login {
    margin-bottom: 20px;
}

.name-email-login {
    margin-bottom: 20px;
}

div#fullname-error {
    opacity: 0;
    visibility: hidden;
    margin-bottom: 6px;
}

.fullname i.fas.fa-check , .email-signup i#checkfullname , .username i#checkfullname , .password i#checkfullname , .confirm i#checkfullname{
    right: 4px;
    position: absolute;
    top: 26px;
    color: #2ff900;
    opacity: 0;
}

.signup .modal-content.khoi-modal1 {
    padding: 40px;
    position: relative;
}
.signup button.close.nutxoa {
    left: 0;
}

.tosingup i.fas.fa-long-arrow-alt-right {
    margin-left: 7px;
    font-size: 14px;
}

a.tosingup {
    line-height: 20px;
    display: block;
    font-size: 17px;
    padding: 14px;
    text-decoration: none;
    color: #555555;
    transition: 0.4s;
}

a.tosingup:hover {
    color: #6070e7;
}

.btn-singup {
    display: flex;
    justify-content: space-between;
}

.checkbox {
    height: 29px;
    line-height: 29px;
    margin-bottom: 30px;
}

.khoi-modal1 .inputduoi {
    border-bottom: 2px solid #bababaa8;
    margin: 0;
}

.khoi-modal1 label {
    font-size: 19px;
    color: #999999;
    line-height: 1.2;
    padding-left: 2px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}


form.fonticon {font-size: 17px; display: flex;
    justify-content: flex-end;
}

.loginwith.text-center {
    margin-bottom: 41px;
}

.text-center.quenmk {
    margin-bottom: 43px;
}

.loginwith.text-center a {
    text-decoration: none;
}

i.fab.fa-google{
    background: #ea4335;
    width: 50px;
    font-size: 23px;
    height: 50px;
    line-height: 50px;
    color: white;
    border-radius: 50%;
    margin-left: 20px;
    transition: 0.4s;
}

.login i.fab.fa-twitter {
    background: #1da1f2;
    width: 50px;
    font-size: 23px;
    height: 50px;
    line-height: 50px;
    color: white;
    margin-left: 20px;
    border-radius: 50%;
    transition: 0.4s;
}

.loginwith i.fab.fa-facebook-f {
    background: #3b5998;
    width: 50px;
    font-size: 23px;
    height: 50px;
    line-height: 50px;
    color: white;
    border-radius: 50%;
    transition: 0.4s;
}

.loginwith a:hover i {
    background: #333 !important;
}

a.txt2 {
    text-decoration: none;
    transition: 0.4s all;
}

a.txt2:hover , .noidungsanpham a.card-title:hover {
    color: #717fe0;
}

.text-center.dangky {}


.detailsp .modal-dialog.detailsp-modal {
    transform: inherit !important;
    margin-top: 15px;
}

.modal-dialog.cart-dialog {
    height: 100%;
    top: 0px;
    float: left;
    width: 390px;
    transform: none !important;
    margin: 0;
    transition: 0.4s !important;
    left: -100%;
}

.modal.fade.cart.show .modal-dialog.cart-dialog {
    left: 0;
}

.modal.fade.signup.show .modal-dialog.signup-dialog {
    height: 100vh;
    margin: inherit !important;
    width: 100%;
    top: 0;
    right: 0;
    transition: 0.4s !important;
    position: absolute;
}

.modal.fade.signup .modal-dialog.signup-dialog {
    right: -100%;
    top: 20%;
}

.inputduoi.email {
    margin-bottom: 5px;
}

.email label {
    position: absolute;
    top: 6px;
    left: 5px;
    font-family: 'Montserrat', sans-serif;
    transition: 0.5s all;
    color: #888;
    pointer-events: none;
    font-size: 17px;
}

.modal-body {}

.modal-content.khoi-modal {
    padding: 20px 54px;
}

a.text-center.logoduoi {
    display: block;
}

h5.welcom.text-center {
    font-size: 43px;
    color: #333;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin-bottom: 31px;
    margin-top: 29px;
}

.nutxoa span {
    font-size: 28px;
}

button.close.nutxoa {
    position: absolute;
    right: 0px;
    top: 0;
    width: 25px;
    height: 25px;
    line-height: 0px;
    outline: none;
}



.header {margin-bottom: 40px;}

a.carousel-control-next {
    width: 7%;
}

a.carousel-control-prev {
    width: 7%;
}

.bannerphu {
    padding-bottom: 80px;
    padding-top: 30px;
}

.chuduoi div {
    display: inline-block;
    transform: translateY(400%);
    color: #fff;
    transition: 0.7s all;
}



.chuduoi {
    border-bottom: 2px solid white;
    max-width: 86px;
    transform: scaleX(0);
    transition: 0.4s all;
    overflow: hidden;
    padding-bottom: 4px;
    
}
a.contentto:hover .chutren p ,a.contentto:hover .chutren h3 {
color: #fff;
}
.chutren p {
    font-size: 17px;
    line-height: 1.1;
    color: #333;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 13px;
    font-weight: 300;
}

.chutren h3 {
    font-size: 28px;
    line-height: 1.1;
    color: #555;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 20px;
    font-weight: 700;
}

.chutren {
    /* height: 50%; */
}

a.contentto {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    padding: 30px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.5s all;
}

a.contentto:hover .chuduoi {
    transform: scaleX(1);
    
}



a.contentto:hover {background-color: rgba(103,117,214,0.8);
color: #fff;}

a.contentto:hover .chuduoi div {
    transform: translateY(0);
}

.conten img {
    width: 100%;
    /* position: absolute; */
}

.conten {
    width: 100%;
    border: 1px solid #e7e7e7;
    position: relative;
    margin-bottom: 20px;
}

.nutscroll button {
    position: fixed;
    bottom: 13%;
    right: 2%;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #717fe0;
    color: white;
    opacity: 0;
    border: none;
    transition: 0.4s;
    outline: none;
}

.nutscroll button.hienthi:hover {
    opacity: 1;
}

.noidungsanpham {
    padding-bottom: 100px;
}

.thanhtoan.text-center {
    margin-bottom: 15px;
}

.khoithanhtoan {
    margin-top: 58px;
}

input:focus {
    transition: 0.7s;
}

input:focus + .inputborder {
    width: 100%;
}



.inputborder {
    position: absolute;
    width: 0;
    height: 2px;
    background: #6774d5;
    transition: 0.7s;
}

.inputduoi {
    position: relative;
    border-bottom: 2px solid rgba(204, 204, 204, 0.1);
    margin-bottom: 21px;
    font-family: 'Roboto', sans-serif;
}

.inputduoi.email {
    border-bottom: 2px solid rgba(204, 204, 204, 0.74);
}

button.btn.btn-outline-info {
    background-color: #717fe0;
    border: none;
    border-radius: 20px;
    min-width: 179px;
    height: 46px;
    color: white;
    text-transform: uppercase;
    transition: 0.4s all;
    box-shadow: none;
}

button.btn.btn-outline-info:hover {box-shadow: none;color: #717fe0;background: white;}

.modal-body button.btn.btn-outline-info {
    width: 100%;
    margin-bottom: 41px;
}

.btn-singup button.btn.btn-outline-info {
    width: 57%;
    margin: 0;
    box-shadow: none;
}

.modal-body button.btn.btn-outline-info:hover {color: white;
    transition: 0.4s;
    background: #222;
box-shadow: none;}

.footer li {
    padding-bottom: 6px;
}

.footer p {
    color: #b2b2b2;
    font-size: 13px;
    line-height: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.khoithanhtoan p.text-center {
    color: #787878;
}

.footer a {
    color: #b2b2b2;
    font-size: 13px;
    line-height: 1.923;
    text-decoration: none;
    transition: 0.4s;
}

.khoithanhtoan p a {
    color: #007bff;
}

.khoithanhtoan p a:hover {
    color: #00d5ff;
}

.footer a:hover , .detailsp .khoiicon-modal:hover{
    color: #717fe0;
}

.footer .iconnho a {
    font-size: 18px;
    margin-right: 16px;
}

.footer ul {
    list-style: none;
}

.footer h3 {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    padding-bottom: 30px;
    line-height: 1.6;
    text-transform: uppercase;
    font-weight: 700;
}

footer {
    background: #222;
    padding-bottom: 32px;
    padding-top: 72px;
}

a.heartbig:hover .heart1 {
    opacity: 1;
    
}

a.heartbig:hover .heart {
    opacity: 0;
    
}

img.heart1 {
    position: absolute;
    top: 23%;
    right: 0;
    opacity: 0;
    transition: 0.4s all;
}

img.heart {
    position: absolute;
    top: 23%;
    right: 0;
    transition: 0.4s all;
}

p.card-text {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.466667;
    letter-spacing: 1px;
    color: #666;
}

.noidungsanpham a.card-title {
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.466667;
    color: #999;
    margin-bottom: 6px;
    cursor: pointer;
    transition: 0.4s all;
    display: inline-block;
    text-decoration: none;
}

.card-body {
    padding: 19px 0 0 0;
    position: relative;
}

a.quickview {
    position: absolute;
    bottom: 5%;
    background: white;
    display: block;
    border-radius: 20px;
    color: #333;
    min-width: 139px;
    height: 40px;
    font-family: sans-serif;
    font-size: 17px;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
}
a.quickview:hover{
    background: #333;
    color: white;
}
.baoboc:hover  a.quickview{
    
    transform: translateY(0px);
    opacity: 1;
    visibility: visible;
    transition: 0.4s all;
}
.baoboc a.quickview{
    transform: translateY(100px);
    opacity: 0;
    visibility: hidden;

}





.baoboc:hover img.card-img-top.room {
    transform: scale(1.2);
    transition: 1s;
}

img.card-img-top.room {
    transition: 1s;
}

.baoboc {
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

@-webkit-keyframes hienra{
    0%{
        transform: translateY(100%);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
/* css hieu ung chuyen dong di len  */
.card-deck.mb-5.andi1 .card:nth-child(1){opacity: 0;}
.card-deck.mb-5.andi1 .card:nth-child(2){opacity: 0;}
.card-deck.mb-5.andi1 .card:nth-child(3){opacity: 0;}
.card-deck.mb-5.andi1 .card:nth-child(4){opacity: 0;}

.card-deck.mb-5.andi1.hienra .card:nth-child(1){animation: hienra 0.5s ease forwards;animation-delay: 0.1s;}
.card-deck.mb-5.andi1.hienra .card:nth-child(2){animation: hienra 0.5s ease forwards;animation-delay: 0.2s;}
.card-deck.mb-5.andi1.hienra .card:nth-child(3){animation: hienra 0.5s ease forwards;animation-delay: 0.3s;}
.card-deck.mb-5.andi1.hienra .card:nth-child(4){animation: hienra 0.5s ease forwards;animation-delay: 0.4s;}

.card-deck.mb-5.andi2 .card:nth-child(1){opacity: 0;}
.card-deck.mb-5.andi2 .card:nth-child(2){opacity: 0;}
.card-deck.mb-5.andi2 .card:nth-child(3){opacity: 0;}
.card-deck.mb-5.andi2 .card:nth-child(4){opacity: 0;}

.card-deck.mb-5.andi2.hienra .card:nth-child(1){animation: hienra 0.5s ease forwards;animation-delay: 0.1s;}
.card-deck.mb-5.andi2.hienra .card:nth-child(2){animation: hienra 0.5s ease forwards;animation-delay: 0.2s;}
.card-deck.mb-5.andi2.hienra .card:nth-child(3){animation: hienra 0.5s ease forwards;animation-delay: 0.3s;}
.card-deck.mb-5.andi2.hienra .card:nth-child(4){animation: hienra 0.5s ease forwards;animation-delay: 0.4s;}

.card-deck.mb-5.andi3 .card:nth-child(1){opacity: 0;}
.card-deck.mb-5.andi3 .card:nth-child(2){opacity: 0;}
.card-deck.mb-5.andi3 .card:nth-child(3){opacity: 0;}
.card-deck.mb-5.andi3 .card:nth-child(4){opacity: 0;}

.card-deck.mb-5.andi3.hienra .card:nth-child(1){animation: hienra 0.5s ease forwards;animation-delay: 0.1s;}
.card-deck.mb-5.andi3.hienra .card:nth-child(2){animation: hienra 0.5s ease forwards;animation-delay: 0.2s;}
.card-deck.mb-5.andi3.hienra .card:nth-child(3){animation: hienra 0.5s ease forwards;animation-delay: 0.3s;}
.card-deck.mb-5.andi3.hienra .card:nth-child(4){animation: hienra 0.5s ease forwards;animation-delay: 0.4s;}

.card-deck.mb-5.andi4 .card:nth-child(1){opacity: 0;}
.card-deck.mb-5.andi4 .card:nth-child(2){opacity: 0;}
.card-deck.mb-5.andi4 .card:nth-child(3){opacity: 0;}
.card-deck.mb-5.andi4 .card:nth-child(4){opacity: 0;}

.card-deck.mb-5.andi4.hienra .card:nth-child(1){animation: hienra 0.5s ease forwards;animation-delay: 0.1s;}
.card-deck.mb-5.andi4.hienra .card:nth-child(2){animation: hienra 0.5s ease forwards;animation-delay: 0.2s;}
.card-deck.mb-5.andi4.hienra .card:nth-child(3){animation: hienra 0.5s ease forwards;animation-delay: 0.3s;}
.card-deck.mb-5.andi4.hienra .card:nth-child(4){animation: hienra 0.5s ease forwards;animation-delay: 0.4s;}



nav.navbar.navbar-expand-lg.navbar-light.fixed-top.navbar1 {
    height: 82px;
    transition: 0.4s;
}

nav.navbar.navbar-expand-lg.navbar-light.fixed-top.navbar1.scrollnav {
    background: white;
    height: 61px;
    box-shadow: 0 0 3px 0px #a4a1a1;
    transition: 0.4s;
}

li.nav-item.chuden.hot:before {
    content: 'HOT';
    position: absolute;
    width: 35px;
    height: 16px;
    background: #f74877;
    top: -5px;
    left: 48px;
    text-align: center;
    border-radius: 23px;
    color: white;
    font-size: 10px;
    line-height: 17px;
    font-family: sans-serif;
}

li.nav-item.chuden.hot {
    position: relative;
}

.fonticon a {
    color: #333;
    padding: 11px;
    transition: 0.4s;
}

.fonticon a.icon-heart {
    position: relative;
}

.fonticon a.icon-heart:after {
    content: attr(data-notify);
    font-family: roboto;
    font-size: 12px;
    color: #fff;
    line-height: 16px;
    text-align: center;
    display: block;
    position: absolute;
    top: 3px;
    right: 0;
    min-width: 15px;
    height: 15px;
    padding: 0 3px;
    background-color: #717fe0;
}
.fonticon a.icon-cart:after {
    content: attr(data-notify);
    font-family: roboto;
    font-size: 12px;
    color: #fff;
    line-height: 16px;
    text-align: center;
    display: block;
    position: absolute;
    top: 3px;
    right: 0;
    min-width: 15px;
    height: 15px;
    padding: 0 3px;
    background-color: #717fe0;
}
.fonticon a.icon-cart {
    position: relative;
}



.fonticon a:hover , a.body-cart-item-name:hover {
    color: #6c7ae0;
}


li.nav-item.chuden {
    margin-left: 2%;
}

.navli li.nav-item.chuden a {
    color: #333;
    outline: none;
    transition: 0.4s;
}

.navli li.nav-item.chuden.active-nav a {
    color: #6c7ae0;
}

.navli li.nav-item.chuden:hover a {
    color: #6c7ae0 !important;
}

.navli a.nav-link {
}

a#navbarDropdownMenuLink {
    color: #333;
    transition: 0.4s;
}

a#navbarDropdownMenuLink:hover {
    color: #6c7ae0;
}

.active-nav a#navbarDropdownMenuLink {
    color: #6c7ae0;
}
.ndslide1{
    /* overflow: hidden; */
}

.ndslide1 a.btn.btn-outline-success , .btn-cart {
    border-radius: 23px;
    width: 161px;
    height: 46px;
    background-color: #717fe0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    box-shadow: none;
}
.btn-cart{
    background: #222;
    width: 130px;
    height: 40px;
    text-transform: uppercase;
    font-size: 15px;
}
.btn-cart:hover{
    background:  #717fe0;

}
.ndslide1 a.btn.btn-outline-success:hover {
    background: #222;
    box-shadow: none;
}

.ndslide1 h2 {
    font-family: 'Playfair Display', serif;
    font-size: 60px;
    line-height: 1.1;
    text-transform: uppercase;
    padding-bottom: 43px;
    padding-top: 19px;
    font-weight: bold;
    color: #333;
}

.ndslide1 h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    line-height: 1.2857;
    color: #333;
}
body,html,.banner,.banner .carousel.slide,.banner .carousel.slide .carousel-inner{
    width: 100%;
    height: 100%;
}
.ndslide1 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-item.anh1 {
    width: 100%;
    height: 100%;
    background: url('../images/slide-01.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    
}
.carousel-item.anh2 {
    width: 100%;
    height: 100%;
    background: url('../images/slide-02.jpg');
    background-size: cover;
    background-position: center center;
     background-repeat: no-repeat;
    
}
.carousel-item.anh3 {
    width: 100%;
    height: 100%;
    background: url('../images/slide-03.jpg');
    background-size: cover;
    background-position: center center;
     background-repeat: no-repeat;
    
}.notdelay{
    width: 161px;
}
input {
    width: 100%;
    background: #222;
    border: none;
    transition: 0.7s;
    outline: none;
    height: 33px;
    color: white;
}



.signup .khoi-modal1 input {
    background: #fff;
    height: 50px;
    font-size: 22px;
    color: #555;
    line-height: 1.2rem;
    padding: 0 2px;
}

.checkbox input[type="checkbox"] {
    height: auto !important;
    width: auto;
    margin-right: 4px;
}

.checkbox input[type="checkbox"]:checked {
}

.email input {
    background: white;
    color: #333;
}

.email input:focus +.inputborder + label,.email input:valid +.inputborder + label {
    top: -20px;
    font-size: 15px;
    left: 0;
    color: #6774d5;
}

a.btn-half-bg.btn-align-center.text-center.nento {
    padding: 10px 14px;
    display: block;
    /* background: #80808066; */
    margin: auto;
    max-width: 200px;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
}

a.btn-half-bg.btn-align-center.text-center.nento:after {
    content: '';
    background: #80808066;
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 25%;
    transition: 0.2s all;
    border-radius: 20px;
}

a.btn-half-bg.btn-align-center.text-center.nento:hover:after {
    width: 100%;
    left: 0;
    
}

/* lam hieu ung anh */
.anh1 .container .ndslide1 h3{
    opacity: 0;
}
.anh1.active .container .ndslide1 h3{
    animation: divao 1s ease forwards;
}
@-webkit-keyframes divao {
    0%{
    transform: translateX(-70px);
    opacity: 0;
    }
    100% {
    transform: translateX(0);
    opacity: 1;
    }
}
.anh1 .container .ndslide1 h2{
    opacity: 0;
}
.anh1.active .container .ndslide1 h2{
    animation: divao 1s ease forwards;
    animation-delay: 0.3s;
}
.anh1 .container .ndslide1 .notdelay{
    opacity: 0;
}
.anh1.active .container .ndslide1 .notdelay{
     animation: divao 1s ease forwards;
    animation-delay: 0.6s;
}
/* het anh 1 */

.anh2 .container .ndslide1 h3{
    transform: translateY(-80px);
    transition: 0.7s  ;
    opacity: 0.5;

}
.anh2.active .container .ndslide1 h3{
    transform: translateY(0px);
    opacity: 1;
}

.anh2 .container .ndslide1 h2{
    opacity: 0;
    transform: translateY(80px);
}
.anh2.active .container .ndslide1 h2{
    animation-delay: 0.7s !important;
    animation: chuyendong 0.7s ease forwards;
    
}
@-webkit-keyframes chuyendong {
    0%{
    transition-delay: 0.7s !important;
    transition: 0.7s ;
    opacity: 0;
    transform: translateX(100%) ;
    }
    50%{
    opacity: 1;
    transform: translateX(0) ;
    }
    70%{
    transform: skewX(10deg);
    opacity: 1;
    }
    100%{
    transform: skewX(-10deg);
    opacity: 1;
    }
}

.anh2 .container .ndslide1 .notdelay{
    transition-delay: 1.4s !important;
    transform: scale(0);
    transition: 0.9s  ;
    opacity: 0;
}
.anh2.active .container .ndslide1 .notdelay{
    transform: scale(1);
    opacity: 1;
}
/* het anh 2 */
.anh3 .container .ndslide1 h3{
    transform: rotate(-90deg);
    transform-origin: 0% 50%;
    transition: 0.8s  ;
    opacity: 0;

}
.anh3.active .container .ndslide1 h3{
    transform: rotate(0deg);
    transform-origin: 0% 50%;
    opacity: 1;
}
.anh3 .container .ndslide1 h2{
    transition-delay: 0.8s !important;
    transform: rotate(-90deg);
    transform-origin: 100% 50%;
    transition: 0.8s ;
    opacity: 0;
}
.anh3.active .container .ndslide1 h2{
    transform: rotate(0deg);
    transform-origin: 100% 50%;
    opacity: 1;
}
.anh3 .container .ndslide1 .notdelay{
    transition-delay: 1.8s !important;
    transform: translateY(50px);
    transition: 0.5s ;
    opacity: 0;
}
.anh3.active .container .ndslide1 .notdelay{
    transform: translateY(0px);
    opacity: 1;
}
/* het anh 3 */

/* nutlen */
.nutscroll button.hienthi{
    opacity: 0.7;
}

@media (min-width: 1200px){
    .container {
    max-width: 85%;
    
    }
}
@media (min-width: 576px){
    .modal-dialog.signup-dialog {
    max-width: 520px;
    }
    .modal-dialog.cart-dialog{
        max-width: calc(100% - 300px);

    }
    .card.col-lg-3.col-md-6.col-sm-12 {
    flex: none;
    margin: 0;
    }
    .modal-dialog.detailsp-modal {
    max-width: 100%;
    margin: 0;
    }
}
@media (max-width: 991px){
    div#navbarSupportedContent {
    background: #ffffffb0;
    position: absolute;
    width: 100%;
    top: 63px;
    left: 0px;
}
.navbar1 .col-icon{
    display: flex;
}
a.logo-mobie {
    display: block !important;
    width: 80%;
}
.mobie-hiden a {
    display: none;
}
button.navbar-toggler.collapsed ,button.navbar-toggler{
    outline: none;
}


    li.nav-item.active-nav {
    margin-left: 10px;
    }
    nav.navbar.navbar-expand-lg.navbar-light.fixed-top.navbar1 {
    position: fixed;
    transition: 0s;
}


}
.logo-mobie {
    display: none;
}
/* ::placeholder */
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #bababa;
    opacity: 1; /* Firefox */
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #bababa;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #bababa;
}
/* input number */
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}



