* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.search-big input.iput-search {
    font-family: roboto;
    font-size: 50px;
    line-height: 1.2;
    color: #333;
    padding: 0px 30px 0px 0px;
    width: calc(100% - 70px);
    height: 100%;
    background-color: transparent;
    font-weight: 100;
}

.search-big input.iput-search::placeholder {
    color: #333;
}

.search-big button.close.search-big-close {right: 0px;position: absolute;top: -46px;font-size: 40px;outline: none;}

.search-big button.flex-c-m {
    font-size: 38px;
    color: #333;
    width: 70px;
    height: 100%;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
    cursor: pointer;
}

.search-big form.wrap-search-header {
    width: 960px;
    max-width: 100%;
    height: 120px;
    border: 2px solid #e6e6e6;
    background: #fff;
    flex-wrap: wrap;
    display: flex;
    padding-left: 15px;
    margin: auto;
    border-radius: 0;
}

.search-big-dialog {
    width: auto;
    max-width: 100%;
    position: relative;
    top: 30%;
    transform: translateY(-50%) !important;
}

.search-big.show {background-color: rgba(255,255,255,0.9);}

.how-bor2 {
    position: relative;
    z-index: 1;
}

.hov-img0:hover img {
    transform: scale(1.1);
}

.how-bor2:before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    border: 3px solid #ccc;
    bottom: -21px;
    right: -21px;
}

.order-md-2.col-md-7.col-lg-8 {
    padding-left: 85px;
    padding-top: 7px;
}

span.stext-111 {
    font-family: roboto;
    font-size: 13px;
    line-height: 1.6923;
    color: #555;
}

.stext-114 {
    font-size: 15px;
    line-height: 1.666667;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-style: italic;
}

p.stext-114 {
    color: #888;
    padding-right: 40px;
    padding-bottom: 11px;
}

.text-stevejob {
    border-left: 3px solid #e6e6e6;
    margin-top: 22px;
    padding-left: 29px;
    padding-bottom: 9px;
}

.hov-img0 img {
    transition: transform 0.9s ease;
    width: 100%;
}

.hov-img0 {
    display: block;
    overflow: hidden;
}

.khoind-about-right1 {
    position: relative;
    z-index: 1;
}

.khoind-about-right1:after {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    border: 3px solid #ccc;
    bottom: -21px;
    left: -21px;
}

.col-11.col-md-5.col-lg-4 {
    margin: auto;
}

.order-md-1.col-11.col-md-5.col-lg-4 {
    padding-bottom: 30px;
}

.stext-113 {
    font-size: 15px;
    line-height: 1.7857;
    font-family: 'Montserrat', sans-serif;
}

.khoind-about-trai1 p.stext-113 {
    color: #888;
    padding-bottom: 26px;
    font-weight: 300;
    font-size: 16px;
}

.mtext-111 {
    font-family: roboto;
    font-size: 29px;
    line-height: 1.2;
}

h3.mtext-111 {
    color: #333;
    padding-bottom: 16px;
    font-weight: bold;
}

.khoind-about-trai1 {
    padding-right: 85px;
    padding-top: 7px;
}

.p-b-about {
    padding-bottom: 148px;
}

section.khoind-about {
    padding-bottom: 120px;
    padding-top: 75px;
}
h2.ltext-105 {
    color: #fff;
    text-align: center;
    font-weight: 600;
}

.ltext-105 {
    font-family: roboto;
    font-size: 50px;
    line-height: 1.1;
}

section.anhbanner {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    text-align: center;
    margin-top: 82px;
    padding: 92px 15px;
    display: block;
}

.bor8 a {
    width: 38px;
    height: 60px;
    color: #333;
    display: block;
    text-align: center;
    line-height: 60px;
    font-size: 15px;
    outline: none;
    border: none;
}

.bor8 {
    border: 1px solid #e6e6e6;
    border-radius: 2px;
    display: flex;
    padding-left: 15px;
}




.cart-header button.close {
    font-size: 32px;
    padding: 0.6rem;
}

.modal-body.modal-cart-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h5#exampleModalLabel {
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
    line-height: 1.333333;
    text-transform: uppercase;
    color: #333;
    font-weight: bold;
}

div#cart {
    height: 100%;
}

.modal-content.cart-content {
    padding: 10% 40px;
    height: 100vh;
}

.modal-header.cart-header {
    border: none;
}

.footer-cart-buttons.d-flex.justify-content-around {
    width: 100%;
}

.footer-cart-total {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #222;
    line-height: 1.3;
    padding-bottom: 40px;
    padding-top: 40px;
    width: 100%;
    font-weight: bold;
}

i.fas.fa-times {position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);color: white;z-index: 5;opacity: 0;}


span.body-cart-item-info {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #888;
    line-height: 1.5;
}

a.body-cart-item-name {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #555;
    line-height: 1.3;
    text-decoration: none;
    transition: 0.4s ease;
}



li.body-cart-item.d-flex {
    margin-bottom: 12px;
}

.body-cart-item-txt.d-flex.flex-column.justify-content-around {
    padding-top: 8px;
    width: calc(100% - 80px);
}

.body-cart-item-img , .how-itemcart1 {
    width: 60px;
    position: relative;
    margin-right: 20px;
    cursor: pointer;
}

.body-cart-item-img:after , .how-itemcart1:after {
    content: '';
    background: #00000075;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.4s;
}

.body-cart-item-img:hover:after, .body-cart-item-img:hover .fas.fa-times, .how-itemcart1:hover:after , .how-itemcart1:hover .fas.fa-times {
    opacity: 1;
}

.password-email-login {
    margin-bottom: 20px;
}

.name-email-login {
    margin-bottom: 20px;
}

div#fullname-error {
    opacity: 0;
    visibility: hidden;
    margin-bottom: 6px;
}

.fullname i.fas.fa-check , .email-signup i#checkfullname , .username i#checkfullname , .password i#checkfullname , .confirm i#checkfullname{
    right: 4px;
    position: absolute;
    top: 26px;
    color: #2ff900;
    opacity: 0;
}

.signup .modal-content.khoi-modal1 {
    padding: 40px;
    position: relative;
}
.signup button.close.nutxoa {
    left: 0;
}

.tosingup i.fas.fa-long-arrow-alt-right {
    margin-left: 7px;
    font-size: 14px;
}

a.tosingup {
    line-height: 20px;
    display: block;
    font-size: 17px;
    padding: 14px;
    text-decoration: none;
    color: #555555;
    transition: 0.4s;
}

a.tosingup:hover {
    color: #6070e7;
}

.btn-singup {
    display: flex;
    justify-content: space-between;
}

.checkbox {
    height: 29px;
    line-height: 29px;
    margin-bottom: 30px;
}

.khoi-modal1 .inputduoi {
    border-bottom: 2px solid #bababaa8;
    margin: 0;
}

.khoi-modal1 label {
    font-size: 19px;
    color: #999999;
    line-height: 1.2;
    padding-left: 2px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}


form.fonticon {font-size: 17px; display: flex;
    justify-content: flex-end;
}

.loginwith.text-center {
    margin-bottom: 41px;
}

.text-center.quenmk {
    margin-bottom: 43px;
}

.loginwith.text-center a {
    text-decoration: none;
}

i.fab.fa-google{
    background: #ea4335;
    width: 50px;
    font-size: 23px;
    height: 50px;
    line-height: 50px;
    color: white;
    border-radius: 50%;
    margin-left: 20px;
    transition: 0.4s;
}

i.fab.fa-twitter {
    background: #1da1f2;
    width: 50px;
    font-size: 23px;
    height: 50px;
    line-height: 50px;
    color: white;
    margin-left: 20px;
    border-radius: 50%;
    transition: 0.4s;
}

.loginwith i.fab.fa-facebook-f {
    background: #3b5998;
    width: 50px;
    font-size: 23px;
    height: 50px;
    line-height: 50px;
    color: white;
    border-radius: 50%;
    transition: 0.4s;
}

.loginwith a:hover i {
    background: #333 !important;
}

a.txt2 {
    text-decoration: none;
    transition: 0.4s all;
}

a.txt2:hover {
    color: #717fe0;
}





.modal-dialog.cart-dialog {
    height: 100%;
    top: 0px;
    float: left;
    width: 390px;
    transform: none !important;
    margin: 0;
    transition: 0.4s !important;
    left: -100%;
}

.modal.fade.cart.show .modal-dialog.cart-dialog {
    left: 0;
}

.modal.fade.signup.show .modal-dialog.signup-dialog {
    height: 100vh;
    margin: inherit !important;
    width: 100%;
    
    top: 0%;
    right: 0;
    transition: 0.4s !important;
    position: absolute;
}

.modal.fade.signup .modal-dialog.signup-dialog {
    right: -100%;
    top: 20%;
}

.inputduoi.email {
    margin-bottom: 5px;
}

.email label {
    position: absolute;
    top: 6px;
    left: 5px;
    font-family: 'Montserrat', sans-serif;
    transition: 0.5s all;
    color: #888;
    pointer-events: none;
    font-size: 17px;
}

.modal-body {}

.modal-content.khoi-modal {
    padding: 20px 54px;
}

a.text-center.logoduoi {
    display: block;
}

h5.welcom.text-center {
    font-size: 43px;
    color: #333;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin-bottom: 31px;
    margin-top: 29px;
}

.nutxoa span {
    font-size: 28px;
}

button.close.nutxoa {
    position: absolute;
    right: 0px;
    top: 0;
    width: 25px;
    height: 25px;
    line-height: 0px;
    outline: none;
}

.header {margin-bottom: 40px;}

a.carousel-control-next {
    width: 7%;
}

a.carousel-control-prev {
    width: 7%;
}


.chuduoi div {
    display: inline-block;
    transform: translateY(400%);
    color: #fff;
    transition: 0.7s all;
}



.chuduoi {
    border-bottom: 2px solid white;
    max-width: 86px;
    transform: scaleX(0);
    transition: 0.4s all;
    overflow: hidden;
    padding-bottom: 4px;
    
}
a.contentto:hover .chutren p ,a.contentto:hover .chutren h3 {
color: #fff;
}
.chutren p {
    font-size: 17px;
    line-height: 1.1;
    color: #333;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 13px;
    font-weight: 300;
}

.chutren h3 {
    font-size: 28px;
    line-height: 1.1;
    color: #555;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 20px;
    font-weight: 700;
}



a.contentto {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    padding: 30px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.5s all;
}

a.contentto:hover .chuduoi {
    transform: scaleX(1);
    
}



a.contentto:hover {background-color: rgba(103,117,214,0.8);
color: #fff;}

a.contentto:hover .chuduoi div {
    transform: translateY(0);
}

.conten img {
    width: 100%;
    /* position: absolute; */
}

.conten {
    width: 100%;
    border: 1px solid #e7e7e7;
    position: relative;
}

.nutscroll button {
    position: fixed;
    bottom: 13%;
    right: 2%;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #717fe0;
    color: white;
    opacity: 0;
    border: none;
    transition: 0.4s;
    outline: none;
}

.nutscroll button.hienthi:hover {
    opacity: 1;
}

.noidungsanpham {
    padding-bottom: 100px;
}

.thanhtoan.text-center {
    margin-bottom: 15px;
}

.khoithanhtoan {
    margin-top: 58px;
}

input:focus {
    transition: 0.7s;
}

input:focus + .inputborder {
    width: 100%;
}
.btn-num-product-down:hover, .btn-num-product-up:hover, .btn-apply-coupon:hover , .ndupdate-totals:hover , .stext-101.size-125.post-comment:hover{
    border-color: #717fe0;
    background-color: #717fe0;
    color: #fff;
    transition: 0.4s;
}


.inputborder {
    position: absolute;
    width: 0;
    height: 2px;
    background: #6774d5;
    transition: 0.7s;
}

.inputduoi {
    position: relative;
    border-bottom: 2px solid rgba(204, 204, 204, 0.1);
    margin-bottom: 21px;
    font-family: 'Roboto', sans-serif;
}

.inputduoi.email {
    border-bottom: 2px solid rgba(204, 204, 204, 0.74);
}

button.btn.btn-outline-info {
    background-color: #717fe0;
    border: none;
    border-radius: 20px;
    min-width: 179px;
    height: 46px;
    color: white;
    text-transform: uppercase;
    transition: 0.4s all;
}

button.btn.btn-outline-info:hover {color: #717fe0;background: white;}

.modal-body button.btn.btn-outline-info {
    width: 100%;
    margin-bottom: 41px;
}

.btn-singup button.btn.btn-outline-info {
    width: 57%;
    margin: 0;
}

.modal-body button.btn.btn-outline-info:hover {color: white;
    transition: 0.4s;
    background: #222;}

.footer li {
    padding-bottom: 6px;
}

.footer p {
    color: #b2b2b2;
    font-size: 13px;
    line-height: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.khoithanhtoan p.text-center {
    color: #787878;
}

.footer a {
    color: #b2b2b2;
    font-size: 13px;
    line-height: 1.923;
    text-decoration: none;
    transition: 0.4s;
}

.khoithanhtoan p a {
    color: #007bff;
}

.khoithanhtoan p a:hover {
    color: #00d5ff;
}

.footer a:hover , a.ltext-108:hover {
    color: #717fe0;
}

.footer .iconnho a {
    font-size: 18px;
    margin-right: 16px;
}

.footer ul {
    list-style: none;
}

.footer h3 {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    padding-bottom: 30px;
    line-height: 1.6;
    text-transform: uppercase;
    font-weight: 700;
}

footer {
    background: #222;
    padding-bottom: 32px;
    padding-top: 72px;
}

a.heartbig:hover .heart1 {
    opacity: 1;
    
}

a.heartbig:hover .heart {
    opacity: 0;
    
}

img.heart1 {
    position: absolute;
    top: 23%;
    right: 0;
    opacity: 0;
    transition: 0.4s all;
}

img.heart {
    position: absolute;
    top: 23%;
    right: 0;
    transition: 0.4s all;
}

p.card-text {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.466667;
    letter-spacing: 1px;
    color: #666;
}

h5.card-title.text-muted {
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.466667;
    color: #999;
    margin-bottom: 6px;
}

.card-body {
    padding: 19px 0 0 0;
    position: relative;
}

a.quickview {
    position: absolute;
    bottom: 5%;
    background: white;
    display: block;
    left: 30%;
    border-radius: 20px;
    color: #333;
    min-width: 139px;
    height: 40px;
    font-family: sans-serif;
    font-size: 17px;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
}
a.quickview:hover{
    background: #333;
    color: white;
}
.baoboc:hover  a.quickview{
    
    transform: translateY(0px);
    opacity: 1;
    visibility: visible;
    transition: 0.4s all;
}
.baoboc a.quickview{
    transform: translateY(100px);
    opacity: 0;
    visibility: hidden;

}





.baoboc:hover img.card-img-top.room {
    transform: scale(1.2);
    transition: 1s;
}

img.card-img-top.room {
    transition: 1s;
}

.baoboc {
    overflow: hidden;
    position: relative;
}

@-webkit-keyframes hienra{
    0%{
        transform: translateY(100%);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

nav.navbar.navbar-expand-lg.navbar-light.fixed-top.navbar1 {
    height: 82px;
    transition: 0.4s;
}

nav.navbar.navbar-expand-lg.navbar-light.fixed-top.navbar1.scrollnav {
    background: white;
    height: 61px;
    box-shadow: 0 0 3px 0px #a4a1a1;
    transition: 0.4s;
}

li.nav-item.chuden.hot:before {
    content: 'HOT';
    position: absolute;
    width: 35px;
    height: 16px;
    background: #f74877;
    top: -5px;
    left: 48px;
    text-align: center;
    border-radius: 23px;
    color: white;
    font-size: 10px;
    line-height: 17px;
    font-family: sans-serif;
}

li.nav-item.chuden.hot {
    position: relative;
}
.fonticon a.icon-cart {
    position: relative;
}
.fonticon a.icon-cart:after {
    content: attr(data-notify);
    font-family: roboto;
    font-size: 12px;
    color: #fff;
    line-height: 16px;
    text-align: center;
    display: block;
    position: absolute;
    top: 3px;
    right: 0;
    min-width: 15px;
    height: 15px;
    padding: 0 3px;
    background-color: #717fe0;
}
.fonticon a {
    color: #333;
    padding: 11px;
    transition: 0.4s;
}
.fonticon a.icon-heart {
    position: relative;
}

.fonticon a.icon-heart:after {
    content: attr(data-notify);
    font-family: roboto;
    font-size: 12px;
    color: #fff;
    line-height: 16px;
    text-align: center;
    display: block;
    position: absolute;
    top: 3px;
    right: 0;
    min-width: 15px;
    height: 15px;
    padding: 0 3px;
    background-color: #717fe0;
}
.fonticon a:hover , a.body-cart-item-name:hover {
    color: #6c7ae0;
}


li.nav-item.chuden {
    margin-left: 2%;
}

.navli li.nav-item.chuden a {
    color: #333;
    outline: none;
    transition: 0.4s;
}

.navli li.nav-item.chuden.active-nav a {
    color: #6c7ae0;
}

.navli li.nav-item.chuden:hover a {
    color: #6c7ae0 !important;
}

.navli a.nav-link {
}

a#navbarDropdownMenuLink {
    color: #333;
    transition: 0.4s;
}

a#navbarDropdownMenuLink:hover {
    color: #6c7ae0;
}

.active-nav a#navbarDropdownMenuLink {
    color: #6c7ae0;
}
.ndslide1{
    /* overflow: hidden; */
}

.ndslide1 a.btn.btn-outline-success , .btn-cart {
    border-radius: 23px;
    width: 161px;
    height: 46px;
    background-color: #717fe0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}
.btn-cart{
    background: #222;
    width: 130px;
    height: 40px;
    text-transform: uppercase;
    font-size: 15px;
}
.btn-cart:hover , .stext-101.checkout:hover{
    background:  #717fe0;

}
.ndslide1 a.btn.btn-outline-success:hover {
    background: black;
}

.ndslide1 h2 {
    font-family: 'Playfair Display', serif;
    font-size: 60px;
    line-height: 1.1;
    text-transform: uppercase;
    padding-bottom: 43px;
    padding-top: 19px;
    font-weight: bold;
    color: #333;
}

.ndslide1 h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    line-height: 1.2857;
    color: #333;
}
body,html,.banner,.banner .carousel.slide,.banner .carousel.slide .carousel-inner{
    width: 100%;
    height: 100%;
}
.notdelay{
    width: 161px;
}
input {
    width: 100%;
    background: #222;
    border: none;
    transition: 0.7s;
    outline: none;
    height: 33px;
    color: white;
}

.stext-103 {
    font-family: roboto;
    font-size: 15px;
    line-height: 1.466667;
}

input.stext-103.search-blog {
    width: 100%;
    height: 50px;
    color: #333;
    padding-left: 28px;
    padding-right: 55px;
    background: #fff;
}

input.input-coupon {
    border: 1px solid #e6e6e6;
    border-radius: 22px;
    width: 220px;
    height: 45px;
    font-size: 14px;
    line-height: 1.466667;
    color: #333;
    margin: 5px 10px 5px 0;
    padding: 0 20px;
    background: white;
}

input.mtext-104 {
    font-size: 16px;
    line-height: 1.6;
    font-family: 'Montserrat', sans-serif;
    color: #666;
    width: calc(100% - 90px);
    height: 100%;
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    background-color: #f7f7f7;
    text-align: center;
}

.bor8 input.mtext-107 {
    width: calc(100% - 38px);
    height: 60px;
    color: #333;
    font-size: 16px;
    line-height: 1.625;
    padding-right: 15px;
    background: transparent;
}

.signup .khoi-modal1 input {
    background: #fff;
    height: 50px;
    font-size: 22px;
    color: #555;
    line-height: 1.2rem;
    padding: 0 2px;
}

.checkbox input[type="checkbox"] {
    height: auto !important;
    width: auto;
    margin-right: 4px;
}

.checkbox input[type="checkbox"]:checked {
}

.email input {
    background: white;
    color: #333;
}

.email input:focus +.inputborder + label,.email input:valid +.inputborder + label {
    top: -20px;
    font-size: 15px;
    left: 0;
    color: #6774d5;
}

a.btn-half-bg.btn-align-center.text-center.nento {
    padding: 10px 14px;
    display: block;
    /* background: #80808066; */
    margin: auto;
    max-width: 200px;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
}

a.btn-half-bg.btn-align-center.text-center.nento:after {
    content: '';
    background: #80808066;
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 25%;
    transition: 0.2s all;
    border-radius: 20px;
}

a.btn-half-bg.btn-align-center.text-center.nento:hover:after {
    width: 100%;
    left: 0;
    
}


/* nutlen */
.nutscroll button.hienthi{
    opacity: 0.7;
    z-index: 99;
}

@media (min-width: 1200px){
    .container {
    max-width: 85%;
    
    }
}
@media (min-width: 576px){
    .modal-dialog.signup-dialog {
    max-width: 520px;
    }
    .modal-dialog.cart-dialog{
        max-width: calc(100% - 300px);
    }
}
@media (max-width: 767px){
    .order-md-2.col-md-7.col-lg-8 {
   padding-left: 10px;
}
}
@media (max-width: 991px){
    div#navbarSupportedContent {
    background: #ffffffb0;
    position: absolute;
    width: 100%;
    top: 63px;
    left: 0px;
}
.navbar1 .col-icon{
    display: flex;
}
a.logo-mobie {
    display: block !important;
    width: 80%;
}
.mobie-hiden {
    display: none;
}
button.navbar-toggler.collapsed ,button.navbar-toggler{
    outline: none;
}


    li.nav-item {
    margin-left: 10px;
    }
    nav.navbar.navbar-expand-lg.navbar-light.fixed-top.navbar1 {
    position: fixed;
    transition: 0s;
}


}
.logo-mobie {
    display: none;
}
/* ::placeholder */
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #bababa;
    opacity: 1; /* Firefox */
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #bababa;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #bababa;
}

/* input number */
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}